@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fafafa;
  border: lightslategray 1px solid;
  margin: 10px;
}

h1 {
  
  text-align: center;
  font-weight: 50;
  padding: 5px;
  margin: 0px;
  color: lightskyblue;
  background: lightslategray;
}

.header {
  background-color: #fff;
  height: 100%;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 120px;
  background-color: #fcfafa;
}

.grid-figure {
  flex-basis: calc(28% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
  position: relative;  
  max-width: 300px;
}

.grid-photo {
  width: 100%;
  margin: 0;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none;
}

/* Comments */

.comments2{
  display: flex;
  flex-direction: column;
}
.cmnt{
  background: #C4D5A7;
  border: 1px solid blue;

}
.comments2Row{
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
}




input, textarea {
  width: 100%;
  border: 0;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 1px solid lightgrey;
  outline: none;
  resize: vertical;
}

.grid-photo-wrap {
  position: relative;
}

.likes-heart {
  background: url(http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png) center no-repeat;
  background-size: contain;
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
  color: #3f3d3d;
  ;
  left: 50%;
  top: 50%;
  pointer-events: none;
}

.likes-enter {
  opacity: 0.01;
}

.likes-enter.likes-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.likes-leave {
  opacity: 1;
}

.likes-leave.likes-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.control-buttons {
  display: flex;
  justify-content: space-between;
}

button, .button {
  border: 2px solid lightgrey;
  background: none;
  flex-basis: 48%;
  display: inline-block;
  line-height: 2;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: #3f3d3d;
  transition: all 0.2s;
  box-sizing: padding-box;
  margin: 0 2px;
  cursor: pointer;
}

button:hover, .button:hover, button:focus, .button:focus {
  border-color: #3f3d3d;
  ;
  outline: 0;
}
.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: lightsteelblue;
  border: 2px solid cornflowerblue;
  margin: 0px 0px 15px 0px;
  
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 5px 20px;
  
}
.nav li:hover {
    cursor: pointer;
}
.nav li input {
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}

.likes_div{
  display: inline-block;
  font-size: 20px;
}

.modal {
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}